<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!--
    How get botToken and chatId

    In case you do not know how to get your botToken and chatId, these are simple instruction to follow in order to get the necessary configuration information.

    As described in the Telegram Bot API, this is the manual procedure needed in order to get the necessary information.

    Create the Bot and get the token
    On a Telegram client open a chat with BotFather.
    write /newbot to BotFather, fill all the needed information, write down the token. This is the botToken needed.
    Create the destination chat and get the chatId
    Open a new chat with your new Bot and post a message on the chat
    Open a browser and invoke https://api.telegram.org/bot<botToken>/getUpdates (where <botToken> is the botToken previously obtained)
    Look at the JSON result and write down the value of result[0].message.chat.id. That is the chatId. Note that if the chat is a group, the chat id is negative. If it is a single person, then positive.
    -->

    <appender name="TELEGRAM" class="com.github.paolodenti.telegram.logback.TelegramAppender">
        <botToken>423943038:AAGj1LdMteDjhMCrnTtHAwstUc37xCRqJao</botToken>
        <chatId>357361604</chatId>
        <minInterval>100</minInterval>
        <Layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>%d{yyyy.MM.dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</Pattern>
        </Layout>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>

    <logger name="com.github.paolodenti.telegram.logback" level="DEBUG"/>

    <root level="info">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="TELEGRAM"/>
    </root>
</configuration>